.load-more-container {
    /* Flexbox para organizar el contenido en columna */
    display: flex;
    flex-direction: column;
    gap: 20px; /* Espacio entre los elementos */
}

.product-container {
    /* Grid layout para mostrar los productos en una cuadrícula de 4 columnas */
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Cuatro columnas de igual tamaño */
    gap: 10px; /* Espacio entre los productos */
}

.product {
    /* Estilo para cada producto */
    padding: 20px; /* Espacio interno */
    border: 1px solid; /* Borde alrededor del producto */
    display: flex; /* Flexbox para alinear los elementos dentro del producto */
    flex-direction: column; /* Alinea la imagen y el texto verticalmente */
    gap: 10px; /* Espacio entre los elementos dentro del producto */
    align-items: center; /* Centra el contenido horizontalmente */
}

.product img {
    /* Define el tamaño de la imagen del producto */
    width: 200px;
    height: 200px;
}

.button-container {
    /* Flexbox para centrar el botón de "Load More" */
    display: flex;
    flex-direction: column;
    align-self: center; /* Alinea el botón al centro del contenedor padre */
}

button {
    /* Margen inferior para crear espacio debajo del botón */
    margin-bottom: 20px;
}