:root {
  /* Definición de variables CSS para el tema claro */
  --background: #ffffff; /* Color de fondo para el tema claro */
  --text-primary: #000; /* Color del texto principal para el tema claro */
  --button-bg: #000; /* Color de fondo del botón para el tema claro */
  --button-text: #ffffff; /* Color del texto del botón para el tema claro */
}

[data-theme="dark"] {
  /* Estilos aplicados cuando el atributo data-theme es "dark" */
  --background: #000000; /* Color de fondo para el tema oscuro */
  --text-primary: #fff; /* Color del texto principal para el tema oscuro */
  --button-bg: #fff; /* Color de fondo del botón para el tema oscuro */
  --button-text: #000; /* Color del texto del botón para el tema oscuro */
}

.light-dark-mode {
  /* Estilos generales para el contenedor del modo claro/oscuro */
  background-color: var(--background); /* Aplica el color de fondo de acuerdo con el tema */
  height: 100vh; /* Altura completa de la ventana */
  display: flex; /* Utiliza flexbox para alinear los elementos */
  flex-direction: column; /* Coloca los elementos en una columna */
  justify-content: center; /* Centra verticalmente el contenido */
  font-size: 20px; /* Tamaño de fuente para el texto */
  transition: all 0.5s; /* Suaviza la transición de cambios en los estilos */
}

.light-dark-mode .container {
  /* Estilos para el contenedor dentro del modo claro/oscuro */
  display: flex; /* Utiliza flexbox para alinear los elementos internos */
  justify-content: center; /* Centra horizontalmente el contenido */
  align-items: center; /* Centra verticalmente el contenido */
  flex-direction: column; /* Coloca los elementos en una columna */
  gap: 30px; /* Espacio entre los elementos */
}

.light-dark-mode .container p {
  /* Estilos para el párrafo dentro del contenedor */
  color: var(--text-primary); /* Aplica el color del texto principal según el tema */
  font-size: 40px; /* Tamaño de fuente para el párrafo */
  margin: 0px; /* Elimina el margen por defecto */
}

.light-dark-mode .container button {
  /* Estilos para el botón dentro del contenedor */
  background-color: var(--button-bg); /* Aplica el color de fondo del botón según el tema */
  border: 1px solid var(--button-bg); /* Aplica un borde con el mismo color que el fondo */
  color: var(--button-text); /* Aplica el color del texto del botón según el tema */
  padding: 12px; /* Espaciado interno del botón */
  border-radius: 8px; /* Esquinas redondeadas del botón */
  font-weight: 600; /* Peso de fuente para el texto del botón */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}
