.tree-view-container {
  /* Define una altura mínima para ocupar toda la pantalla */
  min-height: 100vh;
  /* Ancho fijo para el contenedor del árbol de menús */
  width: 350px;
  /* Fondo de color azul oscuro */
  background: rgb(0, 71, 110);
}

.menu-item {
  /* Distribuye los elementos (etiqueta de menú e ícono) en línea */
  display: flex;
  /* Alinea verticalmente el ícono y el texto */
  align-items: center;
  /* Espacio entre el ícono y el texto del menú */
  gap: 20px;
  /* Cambia el cursor a "puntero" cuando se pasa sobre un ítem de menú */
  cursor: pointer;
  /* Color del texto del menú en blanco */
  color: #fff;
}

.menu-list-container {
  /* Elimina los puntos de las listas */
  list-style: none;
  /* Elimina el margen superior e inferior de las listas */
  margin-top: 0px;
  margin-bottom: 0px;
}
