body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper {
  padding: 20px;
}

.heading {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-bottom: 12px;
}

.tab-item {
  display: inline-flex;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  padding: 10px 15px;
  cursor: pointer;
  border: none;
  border-radius: 16px;
  color: #fff;
  background: #4e016a;
}

.tab-item.active {
  border-color: #000;
  background: #a1d600;
  color: #fff;
}

.content {
  padding: 20px 10px;
  background-color: #fff;
  text-align: center;
}