/* Definición de estilos para la estrella activa */
.active {
  color: #fff700;
}

/* Definición de estilos para la estrella inactiva */
.inactive {
  color: #000000;
}

/* Definición de estilos para el contenedor de las estrellas */
/* El contenedor de las estrellas se centra en la página */
.star-rating {
  text-align: center;
  display: flex;
  justify-content: center;
  /* El margin-top establece el espacio entre el contenedor y el contenido anterior */
  margin-top: 100px;
  /* El gap establece el espacio entre las estrellas */
  gap: 20px
}