body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.active {
  color: #fff700;
}

.inactive {
  color: #000000;
}

.star-rating {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 100px;
  gap: 20px
}