.github-profile-container {
  margin: 0 auto; /* Centra el contenedor horizontalmente */
  width: 90%; /* Ancho del contenedor al 90% de la pantalla */
  max-width: 1000px; /* Ancho máximo del contenedor */
  padding: 20px; /* Espaciado interno */
  border-radius: 8px; /* Bordes redondeados */
}

.input-wrapper {
  display: flex; /* Utiliza flexbox para la disposición de los elementos */
  gap: 20px; /* Espacio entre los elementos del contenedor */
  justify-content: center; /* Centra los elementos dentro del contenedor */
  margin-bottom: 20px; /* Espacio inferior */
}

.input-wrapper input {
  padding: 12px; /* Espaciado interno del campo de entrada */
  font-size: 16px; /* Tamaño de la fuente */
  border: solid 1px #00f4ec; /* Borde sólido de 1px con color específico */
  border-radius: 5px; /* Bordes redondeados para el campo de entrada */
}

.input-wrapper button {
  padding: 5px 12px; /* Espaciado interno del botón */
  border: none; /* Sin borde por defecto */
  border-radius: 8px; /* Bordes redondeados para el botón */
  background-color: #00f4ec; /* Color de fondo del botón */
  color: #000; /* Color del texto del botón */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}

.user {
  padding: 15px; /* Espaciado interno del contenedor de usuario */
  border-radius: 10px; /* Bordes redondeados para el contenedor de usuario */
  border: 1px solid; /* Borde sólido por defecto */
}

.image-container {
  text-align: center; /* Centra la imagen horizontalmente */
}

.avatar {
  height: 150px; /* Altura del avatar */
  aspect-ratio: 1/1; /* Mantiene una relación de aspecto cuadrada */
  border-radius: 50%; /* Hace que la imagen sea circular */
}

.name-container {
  display: flex; /* Utiliza flexbox para la disposición de los elementos */
  gap: 20px; /* Espacio entre los elementos del contenedor */
  justify-content: center; /* Centra los elementos dentro del contenedor */
  margin-top: 20px; /* Espacio superior */
  margin-bottom: 20px; /* Espacio inferior */
  align-items: center; /* Centra verticalmente los elementos */
}

.name-container p {
  margin: 0px; /* Elimina el margen del párrafo */
  font-size: 20px; /* Tamaño de la fuente del nombre */
  font-weight: bold; /* Peso de la fuente en negrita */
}

.profile-info div {
  display: flex; /* Utiliza flexbox para la disposición de los elementos */
  justify-content: center; /* Centra los elementos dentro del contenedor */
  gap: 20px; /* Espacio entre los elementos del contenedor */
  font-size: 20px; /* Tamaño de la fuente */
  font-weight: bold; /* Peso de la fuente en negrita */
}
