body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  text-align: center;
  padding-top: 20px;
}

.modal {
  position: fixed;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(185, 240, 5, 0.7);
  text-align: center;
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid red;
  width: 80%;
  animation-name: animateModal;
  animation-duration: 0.5s;
}

.close-modal-icon {
  cursor: pointer;
  font-size: 40px;
  float: right;
  font-weight: bold;
}

.header {
  padding: 4px 16px;
  background-color: #5cb85c;
  color: #fff;
}

.body {
  padding: 8px;
  height: 200px;
}

.footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: #fff;
}


@keyframes animateModal {
  from {
    top: -200px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}