/* Estilos para la parte superior fija que contiene el título */
.top-container {
    position: fixed; /* Fija la posición en la parte superior de la página */
    top: 0; /* Coloca el contenedor en la parte superior */
    z-index: 1; /* Asegura que el contenedor esté sobre otros elementos */
    width: 100%; /* Ocupa todo el ancho de la página */
    text-align: center; /* Centra el contenido del texto */
    background-color: #075b0a; /* Fondo verde oscuro */
    color: #fff; /* Texto en color blanco */
}

/* Contenedor que representa el seguimiento del progreso del scroll */
.scroll-progress-tracking-container {
    width: 100%; /* Ocupa todo el ancho de la página */
    height: 10px; /* Altura del contenedor de la barra de progreso */
    background: #aaf900; /* Fondo verde claro de la barra de progreso */
}

/* Barra de progreso que se incrementa según el scroll */
.current-progress-bar {
    height: 10px; /* Altura de la barra de progreso */
    background: #8b02b5; /* Color morado de la barra de progreso */
    width: 0%; /* Ancho inicial de 0%, se actualiza dinámicamente con el scroll */
}

/* Contenedor para los datos cargados */
.data-container {
    margin-top: 100px; /* Añade un margen superior para no superponerse con la barra superior fija */
    text-align: center; /* Centra el contenido del texto */
}
